<h1>Neatify</h1>
<div class ="about">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus corporis autem at praesentium iusto earum veritatis culpa laboriosam eaque enim, voluptas fugit incidunt esse repellat eos placeat ipsa reiciendis obcaecati.
</div>
<button class ="login"> Login </button>