<section class="profile">
    <h2>{{user.local.email}}</h2>
    {{#if user.tweets}}
    <div class="tweets">
        {{#each user.tweets}} {{> 'tweet'}} {{/each}}
    </div>
    {{else}}
    <p>No Tweets yet</p>
    {{/if}}
</section>