<a href = "/solutions"><div class ="p1">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, quidem enim magni natus quibusdam iure exercitationem expedita iusto quia aspernatur beatae vitae nobis unde quis illum quo qui totam ex?
</div></a>
</br>
<div class="p2">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, quidem enim magni natus quibusdam iure exercitationem
    expedita iusto quia aspernatur beatae vitae nobis unde quis illum quo qui totam ex?
</div>
</br>
<div class="p3">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, quidem enim magni natus quibusdam iure exercitationem
    expedita iusto quia aspernatur beatae vitae nobis unde quis illum quo qui totam ex?
</div>
</br>
<div class="p4">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, quidem enim magni natus quibusdam iure exercitationem
    expedita iusto quia aspernatur beatae vitae nobis unde quis illum quo qui totam ex?
</div>
</br>
<div class="p5">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, quidem enim magni natus quibusdam iure exercitationem
    expedita iusto quia aspernatur beatae vitae nobis unde quis illum quo qui totam ex?
</div>
</br>
<div class="p6">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, quidem enim magni natus quibusdam iure exercitationem
    expedita iusto quia aspernatur beatae vitae nobis unde quis illum quo qui totam ex?
</div>